# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app
*.ipch
*.vsidx
/.vs/VictoriaEventCreation/v17
/.vs/VictoriaEventCreation/FileContentIndex
*.exp
*.pdb
*.idb
/x64/Debug/imgui.ini
/x64/Release/imgui.ini
/x64/Debug/log.txt
/x64/Release/log.txt
/VictoriaEventCreation/x64/Debug
/VictoriaEventCreation/x64/Release
*.txt
/VictoriaEventCreation/settings.ini
/VictoriaEventCreation/imgui.ini
